*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Times New Roman', Times, serif;
}

body {
    background-color:dimgrey;
    font-size: 14px;
    line-height: 22px;
    color:cadetblue;
}
.container{
    width:  800px;
    height: auto;
    display: flex; 
    margin: 50px auto;
}
.container .box-left {
    width: 280px;  
    background-color: burlywood;

}
.container .box-left .profile{
    width: 100%;
    height: 280px;  
    background-color: crimson;
}
.container .box-left .profile img {
    width: 100%;
    height: 100%;

} 
.container .box-left .content{
    padding: 0 25px;
}
.container .resume-item {
    padding: 25 px 0;
    border-bottom: 2px solid #333e;
}
.container .title {
    margin-bottom: 20px;
}
.container .box-left .bold {
    color:black;
}
.container .box-left .regular{
    color: #fff;
}
.bold {
    font-weight: 700;
    font-size: 20px;
    text-transform: uppercase;
}
.container .box-left ul li{
    display: flex;
    margin-bottom: 10px; 
    align-items: center;
}
.container .box-left ul li:last-child{
    margin-bottom: 0%;

}
.container .box-left ul li .icon{
    width: 35px;
    height: 35px;
    background-color: #fff;
    color: dimgray;
    border-radius: 50%;
    margin-right: 15px;
    font-size: 16px;
    position: relative;
}
.container .box-left ul li .data {
    color: #fff;
}
.container .box-left .resume-skills ul li {
    display: flex;
    margin-bottom: 10px;
    color:#fff;
    justify-content: space-between;
    align-items: center;
}

.container .box-left .resume-skills ul li .skill-name{
    width: 25%;
}
.container .box-left .resume-skills ul li .skill-progress{
    width: 60%;
    margin: 0 5px;
    height: 5px;
    background-color: #ff5c5c; 
    position: relative;
}
.container .box-left .resume-skills ul li .skill-progress span{ 
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background-color: #fff;

}
.container .box-left .resume-skills ul li .skill-parcent{ 
    width: 15%;
}
.container .box-left .resume-social .semi-bold{ 
    color: #fff;
    margin-bottom: 3px;
}
.semi-bold{
    font-weight: 500;
    font-size: 16px;

}
/*right design */
.container .box-right {
    width: 520px;
    background-color: #ffffff;
    padding: 25px;
}

.container .box-right .bold {
    color:darkslategray
}

.container .icon i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
